/* .listado li:first-child,
.listado li:last-child
{
background-color: beige;
} */

/* para seleccionar la del medio */

/* .listado li:nth-child(3){
    background-color: red;
} */

/* para seleccionar elementos impares dentro de una lista  escribo odd */

/* .listado li:nth-child(odd){
    background-color: red;
}

.listado li:nth-child(even){
    background-color: red;} */

/* .listado p:nth-last-of-type(1){
        color: tomato;
    }
    .listado p:nth-child(1){
        color: blue;
    } */

/* .listado :not(p:nth-of-type(1)){
    background-color:blue;
} */
 h2:hover{
    color: blue;
 }